<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recuperação de Senha</title>
    <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      padding: 20px;
    }
    h2 {
      color: #333333;
    }
    p {
      color: #555555;
      margin-bottom: 10px;
    }
    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: #337ab7;
      color: #ffffff;
      text-decoration: none;
      border-radius: 4px;
    }
  </style>
</head>
<body>
<h2>Recuperação de Senha</h2>
<p>Olá,</p>
<p>Recebemos uma solicitação para redefinir sua senha. Para continuar, clique no link abaixo:</p>
<a th:href="${url}">Redefinir Senha</a>
<p>Se você não solicitou a recuperação de senha, ignore este email.</p>
<p>Atenciosamente,</p>
<p>A equipe de suporte</p>
</body>
</html>
